/* body{
  font-family: sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  display: flex;
  padding: 20px;
  min-width: 320px;
  min-height: 100vh;
}
/* For left-to-right text direction */
html[dir="ltr"] {
  text-align: left;
}

/* For right-to-left text direction */
html[dir="rtl"] {
  text-align: right;
}
.container{
  display: flex;
  flex-direction: column;
} */
.privacyPolicy{
    background-color: white;
    padding: 5% 4%;
    margin: 6% 11%;
    box-shadow: 0 25px 32px rgba(38, 2, 2, 0.5);
}

#H1privacy{
    text-align: center;
}
.text1{
    padding:0% 6%  ;
    overflow-wrap: break-word;
}
#pprivacy{
    padding: 2% 6%;
}